{% extends "base.html" %}

{% block content %}

<html>
<head>
    <title class="title">Categories</title>
</head>
<body>
<div class="card-group">
  <a href="#" class="nav-link"><div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>

  </div>
  </a>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<!-- Я без понятия что сверху происходит, дальше лучше будет надеюсь -->
<h2 style="margin-left: 15%">Объявления</h2>
    <div style="display: flex; justify-content: space-beetween; margin-left: 15%; margin-right: 15%">
        {% for offer in data %}
            <div class="category">
                <a href="#" class="nav-link">
                    <img src="static/img/{{ offer[-1] }}">
                    <h1>{{ offer[1] }}</h1>
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}