{% extends "base.html" %}

{% block content %}
    <div class="main-category">
        <h2>Categories</h2>
        <div class="category">
            <h4>Autos</h4>
            <img src="static/img/auto.jpg" alt="Auto image">
        </div>
        <div class="category">
            <h4>Real Estate</h4>
            <img src="static/img/house.jpg" alt="House image">
        </div>
        <div class="category">
            <h4>Cloth</h4>
            <img src="static/img/cloth.jpg" alt="Cloth image">
        </div>

    </div>
    <div class="main-category">
        <div class="category">
            <h4>Animal</h4>
            <img src="static/img/cat.jpg" alt="Animal image">
        </div>
        <div class="category">
            <h4>electronics</h4>
            <img src="static/img/electronics.jpg" alt="Electronics image">
        </div>
        <div class="category">
            <h4>For home</h4>
            <img src="static/img/for_home.jpg" alt="For_home image">
        </div>
    </div>
    <h2 style="margin-left: 15%">Объявления</h2>
    <div style="display: flex; justify-content: space-beetween; margin-left: 15%; margin-right: 15%">
        {% for offer in data %}
            <div class="category">
                <a href="#" class="nav-link">
                    <img src="static/img/{{ offer[-1] }}">
                    <h1>{{ offer[1] }}</h1>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}