{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <button type="button">
  <img src="/static/img/auto.jpg" class="card-img-top" alt="...">

            <div class="card-body">
    <p class="card-text">АВТОТРАНСПОРТ</p>

  </div>
            </button>
</div>

        <div class="card" style="width: 18rem;">
            <button type="button">
  <img src="/static/img/cat.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">ПИТОМЦЫ</p>
  </div>
            </button>
</div>
        <div class="card" style="width: 18rem;">
            <button type="button">
  <img src="/static/img/cloth.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">ОДЕЖДА</p>
  </div>
            </button>
</div>
        <div class="card" style="width: 18rem;">
            <button type="button">
  <img src="/static/img/electronics.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">ЭЛЕКТРОНИКА</p>
  </div>
            </button>
</div>
        <div class="card" style="width: 18rem;">
            <button type="button">
  <img src="/static/img/for_home.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">ДЛЯ ДОМА</p>
  </div>
            </button>
</div>
        <div class="card" style="width: 18rem;">
            <button type="button">
  <img src="/static/img/house.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">НЕДВИЖИМОСТЬ</p>
  </div>
            </button>
</div>
        <div class="card" style="width: 18rem;">
            <button type="button">
  <img src="/static/img/job.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">РАБОТА</p>
  </div>
            </button>
</div>
        <div class="card" style="width: 18rem;">
            <button type="button">
  <img src="/static/img/beaty.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">КРАСОТА</p>
  </div>
            </button>
</div>
    </div>
</div>
<h2 style="margin-left: 15%">Объявления</h2>
    <div style="display: flex; justify-content: space-beetween; margin-left: 15%; margin-right: 15%">
        {% for offer in data %}
            <div class="category">
                <a href="#" class="nav-link">
                    <img src="static/img/{{ offer[-1] }}">
                    <h1>{{ offer[1] }}</h1>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}